.ri_wrap{
    position: relative;
}
.rg_checkcode{
    position: absolute;
    right: 0.26rem;
    top: 0.3rem;
    z-index: 9;
    color: #108ee9;
}
.rg_regbtn{
    width: 60%;
    margin: 1rem auto 0 auto;
}
