.chat_room{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 1.2rem;
}
.chat_room_tips{
    padding: 0 0.3rem;
}
.cr_list{
    padding: 0 0.3rem;
    overflow: scroll;
}
/*.cr_list_item{*/
/*    margin-top: 0.2rem;*/
/*}*/
.cr_list_friend,
.cr_list_item_self{
    margin-top: 0.2rem;
}
.cr_list_item_time{
    padding: 0.1rem 0;
    font-size: 0.24rem;
    text-align: center;
    color: #A5A5A5;
}
.cr_list_item_info{
    display: flex;
}
.cr_list_item_avatar{
    width: 0.8rem;
    height: 0.8rem;
}
.cr_list_item_avatar img{
    width: 100%;
    height: 100%;
    border-radius: 0.1rem;
}
.cr_content{
    position: relative;
    padding: 0.2rem 0.14rem;
    border-radius: 0.1rem;
    line-height: 1.4;
    font-size: 0.32rem;
    color: #000;
    background: #fff;
}
.cr_list_friend .cr_content{
    margin-right: 0.8rem;
    margin-left: 0.2rem;
}
.cr_list_friend .cr_content::before{
    content: "";
    position: absolute;
    left: -7px;
    top: 9px;
    z-index: 9;
    border-top: 11px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 7px solid #fff;
}
.cr_list_item_self .cr_list_item_info{
    flex-direction: row-reverse;
}
.cr_list_item_self .cr_content{
    background: #95EC69;
}
.cr_list_item_self .cr_content{
    margin-left: 0.8rem;
    margin-right: 0.2rem;
}
.cr_list_item_self .cr_content::after{
    content: "";
    position: absolute;
    right: -7px;
    top: 9px;
    z-index: 9;
    border-top: 11px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #95EC69;
}

.cr_input{
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 7.5rem;
    padding: 0.18rem 0;
    margin: auto;
    border-top: 1px solid #EEE;
    background: #F7F7F7;
}
/*.cr_inp{*/
/*    height: 0.8rem;*/
/*    max-height: 2.2rem;*/
/*    min-height: 0.8rem;*/
/*    text-indent: 0.1rem;*/
/*    font-size: 0.32rem;*/
/*    background: #fff;*/
/*}*/
.cr_input .iconfont{
    font-size: 0.5rem;
    align-self: flex-end;
}
.cr_input .iconyuyin{
    margin: 0 0.12rem 0.04rem 0.12rem;
}
.cr_input .iconbiaoqing1{
    margin: 0 0.08rem 0.04rem 0.08rem;
}
.cr_right_icon{
    align-self: flex-end;
    width: 0.8rem;
    margin-bottom: 0.04rem;
    text-align: center;
}
/*.cr_input .icontianjia{*/
/*}*/

.cr_inp_import{
    /*width: 400px;*/
    min-height: 20px;
    max-height: 100px;
    _height: 120px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    border: none;
    outline: 0;
    background: #fff;
    /*border: 1px solid #a0b3d6;*/
    /*font-size: 12px;*/
    /*line-height: 24px;*/
    font-size: 0.32rem;
    line-height: 1.6;
    padding: 2px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
}

#textarea {
    /*width: 400px;*/
    min-height: 20px;
    max-height: 100px;
    _height: 120px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    outline: 0;
    background: #fff;
    /*border: 1px solid #a0b3d6;*/
    /*font-size: 12px;*/
    /*line-height: 24px;*/
    font-size: 0.32rem;
    line-height: 1.6;
    padding: 2px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    /*border-color: rgba(82, 168, 236, 0.8);*/
    /*-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);*/
}

.cr_inp_submit{
    width: 0.74rem;
    align-self: flex-end;
    padding: 0.14rem 0.1rem;
    /*margin: 0 0.12rem 0.04rem 0.12rem;*/
    border-radius: 0.08rem;
    font-size: 0.24rem;
    color: #fff;
    background: #07C160;
    transition: color 0.1s;
}
.cr_inp_submit:active{
    background: #009619;
}
