.user_info{

}

.uin_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0.3rem;
    border-bottom: 1px solid #eee;
    background: #fff;
}
.uni_item_more{
    display: flex;
    align-items: center;
}
.uni_item_more img{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.08rem;
}
.uni_item_more .iconfont{
    font-size: 0.32rem;
    margin-left: 0.2rem;
}
.uin_item_sign{
    margin-top: 0.2rem;
}
