.pl_header{
    height: 0.8rem;
    background: #fff;
}
.pl_see{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: #9C9C9C;
}
.pl_see .iconfont{
    margin-left: 0.04rem;
    font-size: 0.12rem;
}

.pl_list{
    padding-bottom: 1.1rem;
}
.pl_item{

}
.pl_item_time{
    padding: 0.06rem 0.2rem;
    font-size: 0.24rem;
}
.pl_item_con{
    padding: 0.3rem 0.2rem;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #fff;
}
.pl_item_con_avatar{
    width: 0.8rem;
    height: 0.8rem;
}
.pl_item_con_avatar img{
    width: 100%;
    height: 100%;
    border-radius: 0.08rem;
}
.pl_item_con_right{
    overflow: hidden;
    margin-left: 0.1rem;
}
.pl_item_con_right_user{
    height: 0.34rem;
    font-size: 0.3rem;
    line-height: 0.34rem;
}
.pl_item_con_right_time{
    float: right;
    font-size: 0.24rem;
    color: #9C9C9C;
}
.pl_item_con_right_plan{
    margin-top: 0.1rem;
    line-height: 0.38rem;
    font-size: 0.26rem;
    color: #767D88;
}







/*.pl_list{*/

/*}*/
/*.pl_item{*/

/*}*/
/*.pl_item_con{*/
/*    padding: 0.3rem;*/
/*    background: #fff;*/
/*}*/

/*.pl_item_time{*/
/*    padding: 0.06rem 0.3rem;*/
/*    font-size: 0.24rem;*/
/*}*/
/*.pl_item_con_avatar{*/
/*    width: 40px;*/
/*    height: 40px;*/
/*}*/
/*.pl_item_con_avatar img{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    border-radius: 0.08rem;*/
/*}*/
/*.pl_item_con_right{*/
/*    margin-left: 0.08rem;*/
/*}*/
/*.pl_item_con_right_time{*/
/*    float: right;*/
/*    font-size: 0.24rem;*/
/*    color: #9C9C9C;*/
/*}*/




