.change_user_info .btn{
    width: 60%;
    margin: 1rem auto 0 auto;
}
.cui_nick{
    padding: 0 0.3rem;
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.32rem;
}
.cui_nick input{
    width: 100%;
    height: 100%;
    text-indent: 0.2rem;
}
.cui_nick textarea{
    width: 100%;
    height: 1.2rem;
    border: none;
}
.cui_sex{
    padding: 0.4rem 0.3rem 0 0.3rem;
}
.cui_sex p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0.8rem;
    border: 1px solid #eee;
    padding: 0 0.3rem;
    background: #fff;
}
